<div class="collapsible collapsible--expanded">
  <header class="collapsable__header">
    <h2 class="collapsable__heading">Item 1</h2>
    <svg class="icon collapsable__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="callabsible__content">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis
      sunt, velit nostrum molestias sed reiciendis illo quam nisi quasi
      corporis!
    </p>
  </div>
</div>

<script src="/Js/main.js"></script>
